html * {
	color: #4C4646;
	font-family: Arial;
	font-size: 10pt;
}

.name {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

.type {
	display: inline;
	float: right;
	color: green;
	font-weight: bold;
}

.node {
	border: 1px #571B7E solid;
	background-color: #EBDDE2;
	padding: 5px 5px 5px 5px;
	height: 90%;
}

.node .state {
	margin-bottom: 10px;
}

.pod {
	border: 1px #4C4646 solid;
	background-color: #E5E4E2;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	width: 250px;
	float: left;
}

.pod .name {
	font-size: 10pt;
}

.created,
.state,
.data,
.pod .node {
	display: block;
}

.blue {
	border: 1px #151B54 solid;
	background-color: #C2DFFF;
}

.green {
	border: 1px #254117 solid;
	background-color: #C3FDB8;
}

.canary {
	border: 1px #FBB917 solid;
	background-color: #FFFFCC;
}